<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>D3.js Graphs Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="style/bootstrap.css" >
        <link rel="stylesheet" type="text/css" href="style/style.css">
    </head>
    <body>
        <header class="navbar">
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="/"><h4>Home</h4></a></li>
              <li role="presentation"><a href="/graphs"><h4>Graphs</h4></a></li>
              <li role="presentation"><a href="#"><h4>Contact</h4></a></li>
            </ul>
        </header>

        {{{ body }}}

        <footer>
           Designed and built by Kevin Keller - Copyright 2014
        </footer>
    </body>
</html>