<div class="container">
  <h2>Graph Projects</h2>
  <br>
  <h4>Graphs have been organized into categories according to the project they orginiated from.</h4>
  <h4>Information behind each project can be found at the bottom of the list of graphs.</h4>
  <br>
  <div class="container">
    <h3>Internet Speeds Around the World</h3>
    <ul>
      <li><a href="/graphs/SouthAmerica">South America</a></li>
      <li><a href="/graphs/SouthEastAsia">South East Asia</a></li>
    </ul>
    <h4>Motivation Behind The Project:</h4>
    <p>Internet speeds have been making stead improvements in terms of availablity, download speed, and quality. As part of a seperate project, I was interested in how the speeds had changed over time, not for a single country alone, but for a region as a whole. Had some regions progressed faster that other regions? With-in a region did some countries made faster improvements than others? Our initial explorations into the data yeilded deeper questions that we are now undertaking.</p> 
  </div>
</div>