<div class="container">
  <h1>This site will serve as a home for all D3.js graphs!</h1>
  <h4>All of the projects that produced interesting graphs can be found on the Graphs page.</h4>
  <h4>If you would like to get in touch with the team use the contact form found on the contact page.</h4>
  <br>
  <p>Thank you for your interest! :)</p>
</div>